.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: solid black 1px;
}

.nav__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav__left-title, .nav__left-title :hover, .nav__left-title :active{
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.nav__left-title :hover, .nav__left-title :active{
  color: black;
}

.nav__right{
  padding: 5px;
}

.nav__right-item{
  padding: 3px;
}